.upperPart {
  background-color: #add8e6!important;
  opacity: 0.8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 97%;
}

.leftPart {
  opacity: 0.8;
  background-color: #90ee90!important;
  border-radius: 8px;
  padding: 20px;
  top: 20px;
  position: sticky;
}

.middlePart {
  opacity: 0.8;

  background-color: #f08080!important;
  border-radius: 8px;
  padding: 20px;
}

.rightPart {
  opacity: 0.8;

  background-color: #f0dbf7!important;
  border-radius: 8px;
  padding: 20px;
  min-height: 385px;
  /* overflow: hidden; */
}

.container {
  max-width: 1200px;
  padding: 0;
}

.scrollContent {
  /* overflow: auto; */
  /* height: 90%; */
  /* max-height: 1000px; */
}

.buttonPanel {
  top: 0px;
  position: sticky;
  background-color: #f0dbf7;
  z-index: 999;
  padding-top: 10px;
}