.upperPart {
  background-color: #add8e6;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 97%;
}

.leftPart {
  background-color: #90ee90;
  border-radius: 8px;
  padding: 20px;
}

.middlePart {
  background-color: #f08080;
  border-radius: 8px;
  padding: 20px;
}

.rightPart {
  background-color: #ffd700;
  border-radius: 8px;
  padding: 20px;
  max-height: 485px;
  overflow-y: scroll;
}

.container {
  max-width: 1200px;
  padding: 0;
}
