.upperPart {
  background-color: #add8e6!important;
  opacity: 0.8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  width: 97%;
}

.leftPart {
  opacity: 0.8;
  background-color: #90ee90!important;
  border-radius: 8px;
  padding: 20px;
}

.middlePart {
  opacity: 0.8;

  background-color: #f08080!important;
  border-radius: 8px;
  padding: 20px;
}

.rightPart {
  opacity: 0.8;

  background-color: #f0dbf7!important;
  border-radius: 8px;
  padding: 20px;
  height: 385px;
  overflow-y: scroll;
}

.container {
  max-width: 1200px;
  padding: 0;
}
